[submodule "multibuild"]
	path = multibuild
	url = https://github.com/matthew-brett/multibuild
[submodule "pyreadstat"]
	path = pyreadstat
	url = https://github.com/Roche/pyreadstat
[submodule "pyreadstat-fork"]
	path = pyreadstat-fork
	url = https://github.com/ofajardo/pyreadstat.git
